@{
    ViewData["Title"] = "About Us";
}

<section class="about-us-section">
    <header class="events-header">
        <div class="header-content">
            <h1>About Us</h1>
        </div>
    </header>    <div class="about-content">
        <p>Welcome to SA Outreach and Emergency Services. Our mission is to provide aid and support to those in need. We strive to make a positive impact in our community through various programs and services. Our dedicated team of volunteers works tirelessly to ensure that help is available whenever it is needed.</p>

        <p>SA Outreach And Emergency Services have been operational since April 2009, tirelessly serving the community in collaboration with dedicated friends and family. However, when the grip of the Coronavirus tightened on our nation, it dealt a blow to many in our circle, causing them to lose their livelihoods. Consequently, the momentum of our community services experienced a slowdown.</p>

        <p>SA Outreach stands as a registered non-profit organization operating under Section 18A. Our mission revolves around instilling hope and elevating the quality of life for those who are vulnerable and in need.</p>

        <p>Our dedicated team of 80 volunteers hails from various provinces, united by a common purpose.</p>
    </div>

    <div class="image-grid">
        <figure><img src="@Url.Content("~/Images/About1.png")" alt="Image 1"></figure>
        <figure><img src="@Url.Content("~/Images/About3.png")" alt="Image 3"></figure>
        <figure><img src="@Url.Content("~/Images/About5.png")" alt="Image 5"></figure>
    </div>
</section>

@* <style>
    .about-us-section {
        background-color: #f4f4f4; /* Light gray */
        padding: 20px;
        color: #000; /* Black text color */
    }
</style> *@
