@{
    ViewData["Title"] = "Flying Wings";
}

<header class="events-header">
    <div class="header-content">
        <h1>The Flying Wings Team</h1>
    </div>
</header>

<section class="FlyingWingsSection">
 
    <p>Dedicated to the cause, the Flying Wings Team plays a pivotal role in providing crucial assistance to those in need. Their support extends to:</p>
    <ul>
        <li>Victims of domestic violence and gender-based violence, offering a haven and resources for recovery.</li>
        <li>Survivors of rape and sexual assault, ensuring they receive the necessary care and support for healing.</li>
        <li>Children trapped in unhealthy and dysfunctional environments, working tirelessly to create a brighter future for them.</li>
    </ul>
    <p>Embracing a steadfast commitment, the Flying Wings Team opens its doors to those who have suffered from rape and the trauma of gender-based and domestic violence. Their haven is available not just for a fleeting moment but for as long as each survivor needs. In addition to offering 24-hour shelter, they provide essential provisions such as overnight clothing, care packages, nourishing meals, and indispensable counseling support.</p>
    <p>The team’s vision extends further, aspiring to establish a secure refuge dedicated to victims of abuse. Within these walls, survivors will not only find sanctuary but also access to comprehensive healthcare services and invaluable legal counsel, laying the foundation for transformative change in their lives.</p>
    <p>The Flying Wings Team also extends support beyond individual survivors, reaching out to families bereaved by the tragic loss of loved ones or grappling with the aftermath of rape. Through dedicated counseling and fervent advocacy, they stand beside these families in the pursuit of justice, particularly advocating against granting bail to perpetrators.</p>
    <p>Additionally, the team provides assistance in cases of marital discord, offering services such as:</p>
    <ul>
        <li>Acting as mediators to facilitate communication between spouses and offering marriage counseling to mend relationships.</li>
        <li>Guiding and facilitating the process of obtaining harassment, interim, and protection orders.</li>
        <li>Assisting with divorce applications and supervising visitation arrangements.</li>
    </ul>
    <p>In their commitment to combating gender-based violence, the Flying Wings Team actively participates in GBV Awareness initiatives and passionately advocates during the impactful 16 Days of Activism campaign.</p>
    <p><strong>Contact Information:</strong></p>
    <ul>
        <li>NPO No.: 261-370</li>
        <li>PBO No.: 930075356</li>
        <li>Tootsie Francis: 063 405 2322</li>
        <li>Thevan Dhavraj: 073 226 5657</li>
    </ul>
    <p><strong>Banking Details:</strong> FNB Cheque Account No: 6292 700 6959, Branch code: 210835</p>
    <p>Email: <a href="mailto:saoutreachservices@outlook.com">saoutreachservices@outlook.com</a></p>
    <img class="FlyingWingImage" src="@Url.Content("~/Images/About3.png")" alt="Legal Wing Image">
</section>
