<section id="gallery">
    <h2>Gallery</h2>
    <div class="gallery-content">
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
        <div class="gallery-item">
            <!-- Picture needs to go here -->
        </div>
    </div>
</section>
