@{
    ViewData["Title"] = "Helping Hands";
}

<header class="events-header">
    <div class="header-content">
        <h1> Helping Hands Team</h1>
    </div>
</header>


<section class="HelpingHandsSection">
    <ul>
        <li>Provision of food hampers, clothing, and furnishings to uplift those in need.</li>
        <li>Organizing mass feedings in underprivileged areas, ensuring sustenance for vulnerable communities.</li>
        <li>Hosting workshops covering medical, legal, and gender-based violence topics, fostering education and empowerment within our communities and among victims.</li>
        <li>Establishment of GBV helpdesks within schools, offering guidance and counseling services, especially valuable when dedicated school counselors are no longer available.</li>
        <li>Distribution of vital supplies, including baby cereals, formula, and diapers, as well as adult diapers and cereals.</li>
        <li>Facilitating school meals whenever possible to ensure children's nourishment for their academic journeys.</li>
        <li>Dissemination of fresh vegetables to promote healthier living.</li>
        <li>Providing bottled water during periods of water scarcity, addressing a fundamental need for hydration.</li>
    </ul>

    <h2>Contact Information:</h2>
    <p><strong>Tootsie Francis:</strong> 063 405 2322</p>
    <p><strong>Thevan Dhavraj:</strong> 073 226 5657</p>

    <h2>Bank Details:</h2>
    <p><strong>FNB Cheque Account No:</strong> 6292 700 6959</p>
    <p><strong>Branch Code:</strong> 210835</p>

    <h2>Email:</h2>
    <p><a href="mailto:saoutreachservices@outlook.com">saoutreachservices@outlook.com</a></p>

    <p>With unwavering dedication, the HELPING HANDS TEAM strives to make a tangible and positive impact on the lives of those we serve, fostering a stronger and more resilient community.</p>

    <img class="helpingHandsImage" src="@Url.Content("~/Images/helpinghand.png")" alt="Helping Hands Team Image">
</section>
