@{
    ViewData["Title"] = "Legal Wings";
}

<header class="events-header">
    <div class="header-content">
        <h1>The Legal Wings Team</h1>
    </div>
</header>

<section class="LegalWingsSection">
    <ul>
        <li>Offers a range of legal services, including representation for victims of unlawful violations of their rights.</li>
        <li>Provides legal advice and representation to marginalized communities.</li>
        <li><strong>Legal Counseling and Advocacy:</strong> Legal Wings provides free legal counseling to low-income individuals and offers advocacy for human rights, focusing on those affected by discrimination and abuse.</li>
        <li><strong>Training and Empowerment:</strong> They host legal literacy programs aimed at empowering individuals to understand their rights and navigate legal challenges effectively.</li>
        <li><strong>Collaboration with Legal Entities:</strong> They work with law firms and social justice organizations to provide pro-bono representation, especially in cases involving domestic abuse and wrongful evictions.</li>
    </ul>

    <h2>Contact Information:</h2>
    <p><strong>Tootsie Francis:</strong> 063 405 2322</p>
    <p><strong>Thevan Dhavraj:</strong> 073 226 5657</p>

    <h2>Bank Details:</h2>
    <p><strong>FNB Cheque Account No:</strong> 6292 700 6959</p>
    <p><strong>Branch Code:</strong> 210835</p>

    <h2>Email:</h2>
    <p><a href="mailto:saoutreachservices@outlook.com">saoutreachservices@outlook.com</a></p>

    <p>With a focus on justice and human rights, the LEGAL WINGS TEAM is committed to empowering individuals through education, advocacy, and providing much-needed legal assistance to vulnerable communities.</p>


    <img class="LegalWingImage" src="@Url.Content("~/Images/legalwing.jpg")" alt="Legal Wings Image">
</section>
