@{
    ViewData["Title"] = "Medi Wings";
}

<header class="events-header">
    <div class="header-content">
        <h1>The Mediwings Team</h1>
    </div>
</header>

<section class="MediWingsSection">
    <ul>
        <li>Promotes informed health choices by educating the community on the risks of replacing doctor-prescribed medications with herbal remedies.</li>
        <li>Engages in psychosocial development and aims to prevent medication misuse.</li>
        <li>Provides pro-bono legal representation and support to vulnerable individuals, especially those impacted by natural disasters or crises.</li>
    </ul>

    <h2>Our Core Areas of Focus:</h2>
    <ul>
        <li><strong>Championing Senior Rights:</strong> We educate senior citizens about their rights under Section 68 of the Older Person's Act, ensuring they enjoy their rightful entitlements.</li>
        <li><strong>Advocating for Children's Rights:</strong> We raise awareness within our community about the Children's Act 38 of 2005, ensuring that the rights of children are upheld and respected.</li>
        <li><strong>Promoting Informed Health Choices:</strong> We inform our community about the potential risks associated with replacing doctor-prescribed medications with herbal remedies available in shops.</li>
        <li><strong>Nurturing Psychosocial Development:</strong> We actively engage in initiatives to foster emotional well-being and resilience within our community.</li>
        <li><strong>Preventing Medication Misuse:</strong> We advocate for safer and more responsible healthcare practices, taking a stand against the misuse of prescribed medications.</li>
    </ul>

    <h3>Contact Information:</h3>
    <p><strong>Tootsie Francis:</strong> 063 405 2322</p>
    <p><strong>Thevan Dhavraj:</strong> 073 226 5657</p>

    <h3>Bank Details:</h3>
    <p><strong>FNB Cheque Account No:</strong> 6292 700 6959</p>
    <p><strong>Branch Code:</strong> 210835</p>

    <h3>Legal Support and Representation:</h3>
    <p>We provide expert legal advice and representation, ensuring that individuals, especially vulnerable or marginalized groups, receive the support they need to navigate legal challenges.</p>

    <p><strong>Email:</strong> <a href="mailto:saoutreachservices@outlook.com">saoutreachservices@outlook.com</a></p>
</section>
