
<section id="projects-programs">
    <h2>Project & Programs</h2>
    <div class="program-list">
        <div class="program-item">Programs 1</div>
        <div class="program-item">Programs 2</div>
        <div class="program-item">Project 1</div>
    </div>
</section>
