@{
    ViewData["Title"] = "Youth Wings";
}

<header class="events-header">
    <div class="header-content">
        <h1>The Youth Wing</h1>
    </div>
</header>

<section class="YouthWingsSection">
    <ul class="no-bullets">
        <li>Focuses on the well-being and development of youth, offering counseling and educational programs.</li>
        <li>Raises awareness about personal safety, anti-bullying, respectful behavior, and the risks of substance abuse.</li>
        <li><strong>Promoting Personal Safety:</strong> We raise awareness about the concept of "stranger danger" and foster a sense of ownership over one's body through our "My Body is My Body" campaign.</li>
        <li><strong>Addressing Bullying:</strong> Our team engages in impactful discussions on anti-bullying measures, equipping youth with tools to tackle this crucial issue head-on.</li>
        <li><strong>Cultivating Respectful Behaviour:</strong> We host talks that emphasize the importance of respect, cultivating an environment where respect becomes an integral part of young lives.</li>
        <li><strong>Guiding Against Harmful Habits:</strong> We shed light on the potential pitfalls associated with energy drinks, alcohol, and substance abuse, empowering youth to make informed decisions about their well-being.</li>
        <li><strong>Providing Youth Counselling:</strong> Through our dedicated counseling services, we offer a safe space for youth to express themselves, discuss challenges, and seek guidance on various matters.</li>
        <li><strong>Raising Awareness Through Programs:</strong> Our dynamic awareness programs cover a wide spectrum of topics that matter to youth, equipping them with knowledge and insights to navigate the complexities of their world.</li>
    </ul>

    <h2>Contact Information:</h2>
    <p><strong>Tootsie Francis:</strong> 063 405 2322</p>
    <p><strong>Thevan Dhavraj:</strong> 073 226 5657</p>

    <h2>Bank Details:</h2>
    <p><strong>FNB Cheque Account No:</strong> 6292 700 6959</p>
    <p><strong>Branch Code:</strong> 210835</p>

    <h2>Email:</h2>
    <p><a href="mailto:saoutreachservices@outlook.com">saoutreachservices@outlook.com</a></p>

    <p>With unwavering commitment, the YOUTH WINGS TEAM endeavors to empower and inspire the next generation, fostering a brighter and more resilient future.</p>

    <img class="youthWingsImage" src="@Url.Content("~/Images/youthwing.png")" alt="Youth Wings Image">
</section>

<style>
    .no-bullets {
        list-style-type: none;
        padding-left: 0;
    }
</style>
